@{
    ViewBag.Title = "Klarna Checkout Example";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <figure class="figure card-body">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Bright_red_tomato_and_cross_section02.jpg/320px-Bright_red_tomato_and_cross_section02.jpg" class="figure-img img-fluid rounded" alt="">
                    <figcaption class="figure-caption">Image from <a href="https://commons.wikimedia.org/wiki/File:Bright_red_tomato_and_cross_section02.jpg">Wikimedia</a> site. </figcaption>
                </figure>

                <div class="card-body">
                    <h5 class="card-title">Tomatoes</h5>
                    <p class="card-text">A bright red tomato. Size of uncut tomato is approx 10cm in diameter</p>
                    <p><strong>10 kg</strong></p>
                    <a href="#" class="btn btn-secondary">Go to details</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <figure class="figure card-body">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Bananas_white_background_DS.jpg/320px-Bananas_white_background_DS.jpg" class="figure-img img-fluid rounded" alt="Augustus Binu">
                    <figcaption class="figure-caption">Image from <a href="https://commons.wikimedia.org/wiki/File:Bananas_white_background_DS.jpg">Wikimedia</a> site. (c) Augustus Binu</figcaption>
                </figure>
                <div class="card-body">
                    <h5 class="card-title">Bananas</h5>
                        <p class="card-text">Bananas box package</p>
                    <p><strong>1 box pack</strong></p>
                    <a href="#" class="btn btn-secondary">Go to details</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">10 x Tomatoes</th>
                    <td>60 &pound;</td>
                </tr>
                <tr>
                    <th scope="row">1 x Box Bananas</th>
                    <td>40 &pound;</td>
                </tr>

                <tr class="table-primary">
                    <th scope="col">Total</th>
                    <th scope="col">100 &pound;</th>
                </tr>
                </tbody>
            </table>

            @Html.ActionLink("Place Order", "Kco", "Home", new { area = "" }, new { @class = "btn btn-success" })
        </div>
    </div>
</div>

<footer class="footer mt-auto py-3">
    <div class="container text-center">
        <span class="text-muted">
            Wikimedia CC 3.0 <a href="https://creativecommons.org/licenses/by-sa/3.0/">License</a>
            and <a href="https://wiki.creativecommons.org/wiki/License_Versions#Detailed_attribution_comparison_chart">Attribution info</a>
        </span>
    </div>
</footer>