@{
    ViewBag.Title = "Klarna Payment Order";
}
<h2>The order has been placed</h2>
<p>
    Thank you for the order. We will process the payment shortly and send you an additional information about the
    delivery time.
</p>